.label {
    -fx-background-color: #34C759;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 10px 14px;
    -fx-background-radius: 1.3em 1.3em 0.3em 1.3em;
    -fx-border-radius: 1.3em 1.3em 0.3em 1.3em;
    -fx-border-color: #28A745;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 4, 0.5, 2, 2);
    -fx-font-family: "SF Pro Text", "Inter", "Arial";
    -fx-font-size: 13px;
}

.reply-label {
    -fx-background-color: #D8D8D8;
    -fx-text-fill: #000000;
    -fx-padding: 10px 14px;
    -fx-background-radius: 1.3em 1.3em 1.3em 0.3em;
    -fx-border-radius: 1.3em 1.3em 1.3em 0.3em;
    -fx-border-color: #D1D1D6;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 4, 0.5, 2, 2);
    -fx-font-family: "SF Pro Text", "Inter", "Arial";
    -fx-font-size: 14px;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

